 body{
     text-align: center;
     margin-top: 25%;
 }
button.gg{
    border: 1px solid #4B0082;
    color: black;
    border-radius: 30px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 50px;
    background-color: #E0FFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button.gg:hover{
    background:linear-gradient(#87CEFA,#00008B)
}
button.gg:active{
    transform: translate(0, 2px);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button.clon{
    z-index: 1;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border:none;
    background-color: rgb(255, 42, 106);
}
button.clon:active{
    background-color: rgb(228, 37, 94);
    transform: translate(0, 3px);
    transition-duration: 600ms;
}
span.xz{
    margin: 10px -85px;
    box-shadow:0px 10px 9px rgb(247, 114, 154);
    width: 70px;
    position: absolute;
    z-index: -1;
}